$primary_peach: #E7816B;
$primary_black: #1D1C1E;
$primary_white: #FFFFFF;
$secondary_peach: #FFAD9B;
$secondary_dark: #333136;
$secondary_light: #F1F3F5DB;

$mobileS: 375px;
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;